html {
    width: 1000px;
    margin: auto;
    background-color: skyblue;
    padding-top: 10px;
    padding-bottom: 30px;
}
    
body {
    background-color: white;
    padding: 20px;
    padding-left: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgb(84, 128, 145);
    padding-right: 30px;
}

@media (max-width: 950px) {
    html {
        padding-top: 0px;
    }
    body {
        border-radius: 0px;
    }
}