.leaflet-container {
    height: 600px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

button {
    margin-top: 20px;
    margin-bottom: 5px;
    border: 1px solid dodgerblue;
    color: dodgerblue;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

input {
    margin-top: 20px;
    margin-bottom: 5px;
    border: 1px solid black;
    color: dodgerblue;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#submit {
    margin-left: 5px;
}

#submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
